@model Service
@{
    ViewData["Title"] = "Detail";
}

<div>
    <div>
        <p>Id</p>
        <h4>@Model.Id</h4>
    </div>
    <div>
        <p>Title</p>
        <h4>@Model.Title</h4>
    </div>
    <div>
        <p>Description</p>
        <h4>@Model.Description</h4>
    </div>
    <div>
        <p>Icon</p>
        <h4>@Model.Icon</h4>
    </div>
</div>
